@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'SUITE';
    src: url('SUITE-woff2/SUITE-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'SUITE-Extrabold';
    src: url('SUITE-woff2/SUITE-ExtraBold.woff2') format('woff2');
  }

  #custom-popup {
    font-family: 'SUITE', sans-serif;
  }